@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin base-text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: $base-text-color;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin accent-text {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin small-text {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $base-text-color;
  letter-spacing: 2%;
}

@mixin general-title {
  margin: 0;
  font-family: $primary-font;
  color: $base-text-color;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: 56px;
    line-height: 80px;
  }
}

@mixin card-title {
  margin: 0;
  font-family: $primary-font;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $base-text-color;

  @media (min-width: $width-tablet) {
    font-size: 24px;
    line-height: 24px;
  }
}

@mixin block-title {
  margin: 0;
  font-family: $primary-font;
  color: $base-text-color;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: 42px;
    line-height: 64px;
  }
}

@mixin filter-text {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: $base-text-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
