// Устройства
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;
// Цвета
$primary-color: #7859cf;
$primary-lighter-color: #9070ec;
$secondary-color: #f0ebff;
$body-color: #ffffff;
$background-dark-color: #f8f8f8;
$light-text-color: #ffffff;
$base-text-color: #333333;
$disabled-color: #bdbdbd;
// Шрифты
$primary-font: "Montserrat", "Arial", sans-serif;
// Декоративные элементы
$border: 1px solid #cdcdcd;
$retina: 2dppx;
