.button {
  background-color: $primary-color;
  color: $light-text-color;
  border: none;
  font-family: $primary-font;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 4px;
  word-break: break-all;
  cursor: pointer;

  &--secondary {
    background-color: $body-color;
    color: $primary-color;
  }
}

.button:hover,
.button:focus-visible {
  background-color: #9070ec;
  outline: none;
}

.button--secondary:hover,
.button--secondary:focus-visible {
  color: $body-color;
}

.button:active {
  background-color: #593cac;
}

.button--secondary:active {
  color: $body-color;
}

.button:disabled {
  background-color: $disabled-color;
  cursor: auto;
}

.button--secondary:disabled {
  background-color: #e2e2e2;
  color: $body-color;
  cursor: auto;
}
