.card {
  background-color: $body-color;
  padding: 41px 20px 19px;
}

.card__img {
  display: block;
  margin: 0 auto;
}

.card__title {
  @include card-title;
  margin-top: 23px;
}

.card__description {
  width: 237px;
  margin: 0;
  margin-top: 5px;
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.card__price {
  padding: 3px 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-left: -2px;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 9.5px 20px;
  font-size: 14px;
  height: fit-content;
}

.card__button-icon {
  fill: #ffffff;
}

@media (min-width: $width-tablet) {
  .card {
    padding: 50px 30px 29px;
  }

  .card__title {
    margin-top: 37px;
  }

  .card__description {
    margin-top: 15px;
    width: 289px;
  }

  .card__price-wrapper {
    margin-top: 20px;
  }

  .card__price {
    padding: 2px 0;
  }
}

@media (min-width: $width-desktop) {
  .card {
    &--current {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .card__description {
    width: 257px;
    margin-top: 16px;
  }

  .card__title {
    margin-top: 36px;
  }

  .card:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
