.features__wrapper {
  padding-top: 48px;
  padding-bottom: 60px;
}

.features__accent {
  @include accent-text;
  display: block;
  text-align: center;
}

.features__title {
  @include block-title;
  line-height: 36px;
  text-align: center;
  margin-top: 3px;
}

.features__list {
  @include list-reset;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.features__item-title {
  @include card-title;
  margin-top: 4px;
}

.features__item-description {
  @include base-text;
  margin-top: 5px;
  margin-bottom: 0;
}

@media (min-width: $width-tablet) {
  .features__wrapper {
    padding-top: 58px;
    padding-bottom: 100px;
  }

  .features__list {
    margin-top: 63px;
    display: grid;
    grid-template-columns: repeat(2, 339px);
    column-gap: 30px;
    row-gap: 52px;
    padding: 0 10px;
  }

  .features__item {
    display: flex;
    gap: 20px;
  }

  .features__info {
    width: 267px;
    text-align: start;
  }

  .features__item-title {
    margin-top: 4px;
  }

  .features__item-description {
    margin-top: 16px;
  }

  .features__icon--high {
    margin-top: -3px;
  }
}

@media (min-width: $width-desktop) {
  .features__wrapper {
    padding-top: 99px;
    padding-bottom: 120px;
  }

  .features__list {
    grid-template-columns: repeat(4, 318px);
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 80px;
    padding: 0;
  }

  .features__title {
    margin-top: 1px;
  }


  .features__item {
    flex-direction: column;
    gap: 20px;
  }

  .features__item-title {
    margin-top: 7px;
  }

  .features__icon {
    display: block;
    margin: 0 auto;
  }

  .features__info {
    width: 317px;
    text-align: center;
    margin: 0 auto;
  }
}
