.features__wrapper {
  padding-top: 60px;
  padding-bottom: 50px;
}

.features__accent {
  @include accent-text;
  display: block;
  text-align: center;
}

.features__title {
  @include block-title;
  text-align: center;
}

.features__list {
  @include list-reset;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.features__item-title {
  @include card-title;
  margin-top: 3px;
}

.features__item-description {
  @include base-text;
  margin-top: 4px;
  margin-bottom: 0;
}

@media (min-width: $width-tablet) {
  .features__wrapper {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .features__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 339px);
    column-gap: 30px;
    row-gap: 50px;
  }

  .features__item {
    display: flex;
    gap: 20px;
  }

  .features__info {
    width: 267px;
    text-align: start;
  }

  .features__item-title {
    margin-top: 0;
  }

  .features__item-description {
    margin-top: 13px;
  }
}

@media (min-width: $width-desktop) {
  .features__wrapper {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .features__list {
    grid-template-columns: repeat(4, 318px);
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 80px;
  }

  .features__item {
    flex-direction: column;
    gap: 20px;
  }

  .features__icon {
    display: block;
    margin: 0 auto;
  }

  .features__info {
    width: 317px;
    text-align: center;
    margin: 0 auto;
  }
}
