.filter__wrapper {
  margin-top: 20px;
}

.filter__group {
  @include fieldset-reset;
  margin-top: 30px;
}

.filter__group:first-child {
  margin-top: 20px;
}

.filter__title {
  @include filter-text;
}

.filter__list {
  @include list-reset;
}

.filter__item {
  @include filter-text;
  margin-top: 20px;
  font-weight: 400;
  position: relative;
}

.filter__list--radio label {
  padding-left: 34px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.filter__radio-style {
  width: 21px;
  height: 21px;
  background-color: $body-color;
  border: 3px solid $body-color;
  outline: 2px solid $disabled-color;
  border-radius: 100%;
  position: absolute;
  left: 1px;
  top: 1px;
}

.filter__radio[type="radio"]:checked + .filter__radio-style {
  outline: 2px solid $primary-color;
  background-color: $primary-color;
}

.filter__radio:hover + .filter__radio-style {
  background-color: #ddd5f3;
  outline: 2px solid $primary-color;
  border: 3px solid $body-color;
}

.filter__radio:focus-visible + .filter__radio-style {
  background-color: #ddd5f3;
  outline: 2px solid $primary-color;
  border: 3px solid $body-color;
}

.filter__radio:disabled + .filter__radio-style {
  background-color: transparent;
  outline: 2px solid #e2e2e2;
  border: none;
  cursor: auto;
}

.filter__radio:disabled ~ .filter__control {
  cursor: default;
  color: $disabled-color;
}

.filter__list--checkbox label {
  padding-left: 52px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.filter__checkbox-style {
  width: 40px;
  height: 21.5px;
  background-color: $disabled-color;
  outline: 2px solid $disabled-color;
  border-radius: 50px;
  position: absolute;
  left: 1px;
  top: 0.5px;

  &::after {
    position: absolute;
    top: 0.5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: $body-color;
    border-radius: 50%;
    content: "";
  }
}

.filter__checkbox[type="checkbox"]:checked + .filter__checkbox-style::after {
  left: 19px;
}

.filter__checkbox[type="checkbox"]:checked + .filter__checkbox-style {
  background-color: $primary-color;
  outline: 2px solid $primary-color;
}

.filter__checkbox:hover + .filter__checkbox-style {
  background-color: #ddd5f3;
  outline: 2px solid $primary-color;
}

.filter__checkbox:focus-visible + .filter__checkbox-style {
  background-color: #ddd5f3;
  outline: 2px solid $primary-color;
}

.filter__checkbox:disabled + .filter__checkbox-style {
  background-color: $disabled-color;
  outline: 2px solid $disabled-color;
  opacity: 0.35;
  cursor: auto;
}

.filter__checkbox:disabled ~ .filter__control {
  cursor: default;
  color: $disabled-color;
}

.filter__button-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__button {
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .filter__wrapper-fieldsets {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    column-gap: 30px;
  }

  .filter__group,
  .filter__group:first-child {
    margin-top: 0;
  }

  .filter__button-wrapper {
    justify-content: center;
    margin-top: 40px;
    flex-direction: row;
  }
}

@media (min-width: $width-desktop) {
  .filter__wrapper {
    margin-top: 0;
  }

  .filter__wrapper-fieldsets {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .filter__button-wrapper {
    justify-content: start;
  }

  .filter__button {
    width: 149px;
    padding: 10px 26px;
  }
}
