.header__wrapper {
  display: flex;
  position: relative;
}

.header__logo {
  padding-top: 12px;
  padding-bottom: 7px;
}

.header__logo span {
  display: none;
}

.header__list {
  @include list-reset;
  width: 320px;
  display: none;
  left: -20px;
  top: 100%;
  background-color: $body-color;
}

.js-header-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 4;
}

.header__item {
  text-align: center;
  padding: 20px;
  border-top: 1px solid $secondary-color;
}

.header__item:last-child {
  border-bottom: 1px solid $secondary-color;
}

.header__link {
  @include small-text;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 80px;
}

.header__user-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 240px;
  position: absolute;
  right: -20px;
  top: 0;
}

.header__user-link {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__user-link span {
  display: none;
  font-weight: 500;
}

.header__user-icon {
  fill: #333333;
}

.header__button {
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: relative;

  span {
    width: 16px;
    height: 1.5px;
    position: absolute;
    background: #000000;

    left: 50%;
    transform: translateX(-50%);

    &:nth-child(1) {
      top: 40%;
      transition: 0.2s;
    }

    &:nth-child(2) {
      top: 48%;
      transition: 0.2s;
    }

    &:nth-child(3) {
      top: 56%;
      transition: 0.2s;
    }
  }
}

.header__button.is-active {
  span {
    &:nth-child(1) {
      transform: translate(-10px, 7px) rotate(-45deg);
      height: 1px;
      transition: 0.2s;
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      transform: translate(-10px, -3px) rotate(45deg);
      height: 1px;
      transition: 0.2s;
    }
  }
}

@media (min-width: $width-tablet) {
  .header__wrapper {
    gap: 65px;
  }

  .header__logo {
    padding: 21px 0 17px;
  }

  .header__nav {
    width: 580px;
    display: flex;
    align-items: start;
    gap: 35px;
  }

  .header__list {
    @include list-reset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 405px;
  }

  .header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-top: none;
  }

  .header__item:last-child {
    border-bottom: none;
  }

  .header__link {
    @include small-text;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    padding: 31px 20px;

    &--current {
      border-bottom: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  .header__user-list {
    position: relative;
    top: auto;
    width: 120px;
  }

  .header__user-link {
    height: 80px;
  }

  .header__button {
    display: none;
  }
}

@media (min-width: $width-desktop) {
  .header__logo {
    text-decoration: none;
    display: flex;
    align-items: start;
    gap: 20px;
    padding-top: 23px;
    padding-bottom: 15px;
  }

  .header__logo span {
    @include small-text;
    letter-spacing: normal;
    display: block;
    width: 126px;
  }

  .header__wrapper {
    gap: 162px;
  }

  .header__nav {
    gap: 159px;
    width: 1040px;
  }

  .header__list {
    gap: 19px;
    width: 463px;
  }

  .header__user-list {
    max-width: none;
    width: 261px;
    height: 60px;
    gap: 19px;
    right: auto;
  }

  .header__user-link {
    @include small-text;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    padding: 32px 20px;
    display: flex;
    gap: 8px;
  }

  .header__user-link span {
    display: block;
  }

  .header__user-link:hover .header__user-icon,
  .header__user-link:focus-visible .header__user-icon,
  .header__user-link:active .header__user-icon {
    fill: $primary-color;
  }
}

.header__item:has(.header__link:active) {
  background-color: $secondary-color;
}

.header__link:active {
  background-color: $secondary-color;
}

.header__user-link:active {
  background-color: $secondary-color;
}

.header__link:hover,
.header__link:focus-visible {
  color: $primary-color;
}

.header__user-link:hover,
.header__user-link:focus-visible {
  color: $primary-color;
}

.header__button:active {
  background-color: $secondary-color;
}
