.price {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $width-desktop) {
    margin-top: 40px;
    margin-left: inherit;
  }
}

.price__wrapper {
  display: flex;
  gap: 6px;
  padding: 5px 0 3px;

  @media (min-width: $width-tablet) {
    padding: 4px 0 3px;
  }
}

.price__old {
  font-size: 16px;
  line-height: 32px;
  color: $primary-color;
  text-decoration: line-through;

  @media (min-width: $width-desktop) {
    padding-top: 1px;
  }
}

.price__new {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-top: -1px;
}

.price__button {
  width: 113px;
  z-index: 2;
  padding: 8px 20px;
}
