.range-price {
  @include list-reset;
  padding-top: 20px;
}

.range-price__bar {
  width: 280px;
  height: 2px;
  background-color: #e2e2e2;
  position: relative;
}

.range-price__bar-active {
  width: 260px;
  height: 2px;
  background-color: $primary-lighter-color;
}

.range-price__toggle {
  padding: 0;
  width: 22px;
  height: 22px;
  background-color: $body-color;
  border: 2px solid $body-color;
  outline: 2px solid $primary-lighter-color;
  border-radius: 50px;
  position: absolute;
  top: -500%;
  cursor: pointer;

  &--max {
    right: 6%;
  }
}

.range-price__input-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-price__input-wrapper span {
  width: 8px;
  height: 2px;
  background-color: $disabled-color;
}

.range-price__input {
  @include filter-text;
  color: inherit;
  font-weight: 500;
  width: 118px;
  height: 40px;
  background-color: $body-color;
  border: 2px solid $primary-lighter-color;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: center;
}

.range-price__input::placeholder {
  color: $disabled-color;
}

.range-price__toggle:hover,
.range-price__toggle:focus-visible {
  background-color: #ddd5f3;
  outline: 2px solid $primary-color;
  border: 2px solid $body-color;
}

.range-price__toggle:active {
  background-color: $primary-color;
}

@media (min-width: 768px) {
  .range-price__bar {
    width: 223px;
  }

  .range-price__bar-active {
    width: 192px;
  }

  .range-price__input {
    width: 87px;
  }
}

@media (min-width: $width-desktop) {
  .range-price__bar {
    width: 318px;
  }

  .range-price__bar-active {
    width: 274px;
  }

  .range-price__input {
    width: 134px;
  }
}

