.select {
  display: flex;
  text-align: start;
  gap: 10px;
  padding: 0 3px;
  position: relative;
}

.select__icon {
  position: absolute;
  right: 5px;
  background: url("/images/icons/stack.svg#arrow-select");
  width: 11px;
  height: 11px;
  display: none;
}

.select__title {
  @include filter-text;
  padding-top: 5px;
}

.select__control {
  @include filter-text;
  color: $primary-color;
  width: 160px;
  height: 32px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  appearance: none;
  background: transparent url("/images/icons/stack.svg#arrow-select");
  background-position: right 3% top 45%;
  background-size: 7%;
  background-repeat: no-repeat;
}

.select__control:hover,
.select__control:focus-visible {
  outline: none;
  background: #f0ebff url("/images/icons/stack.svg#arrow-select");
  background-position: right 3% top 45%;
  background-size: 7%;
  background-repeat: no-repeat;
}

.select__control:active {
  background: none;
}

.select__control:active ~ .select__icon {
  display: block;
  transform: rotate(180deg);
  top: 12px;
}

@media (min-width: $width-tablet) {
  .select {
    padding: 0 6px;
  }

  .select__control {
    padding: 0 6px;
  }
}
